.attend-page {
  .info-container {
    padding: 20px;
    background-color: white;
    border-bottom: 6px solid rgba(0, 0, 0, 0.04);

    > div {
      &:first-child {
        font-size: 17px;
        font-weight: 500;
        line-height: 30px;
      }
    }

    .info-item {
      display: flex;
      align-items: center;
      font-size: 13px;
      color: rgba(0, 0, 0, 0.45);

      span {
        margin: 2px;
        margin-left: 0;

        &:nth-child(2) {
          flex-grow: 1;
        }
      }

      img {
        height: 16px;
        width: 16px;
        margin-right: 4px;
      }
    }

    .tags {
      padding: 4px 0;

      :global {
        .am-tag {
          background-color: rgba(0, 0, 0, 0.05);
          height: 20px;
          line-height: 20px;
          padding: 0 4px;
          margin-right: 8px;

          &:before {
            border: none;
          }

          &-text {
            font-size: 11px;
            color: rgba(0, 0, 0, 0.45);
          }
        }
      }
    }
  }

  .form-container {
    padding: 10px 20px;
    background-color: white;
    min-height: 70vh;
    padding-bottom: 80px;

    .question-icon {
      width: 20px;
      position: relative;
      top: 3px;
    }

    .form {
      margin-top: 20px;
      border-radius: 12px 12px 12px 12px;
      box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.09);

      .header {
        font-size: 15px;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.45);
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      :global {
        .am-list-header {
          padding: 14px 0;
        }
      }
    }

    > div:first-child {
      display: flex;
      align-items: center;
      justify-content: space-between;

      span:first-child {
        font-size: 17px;
        font-weight: 500;
        line-height: 30px;
      }

      :global {
        .am-button {
          font-size: 15px;
          color: rgba(254, 80, 0, 1);

          &:before {
            content: none;
          }

          .am-icon-xxs {
            width: 20px;
            height: 20px;
          }
        }
      }
    }

    > div:last-child {
      :global {
        .am-list {
          margin: 0 20px;
          padding: 5px 0;

          &-body {
            &:before {
              content: none;
            }

            &:after {
              content: none;
            }
          }

          &-item {
            padding-left: 0;
            height: 60px;

            .am-input-label {
              width: 110px;

              img {
                margin-right: 10px;
              }
            }

            input {
              text-align: right;
            }
          }
        }
      }
    }
  }

  .pet-containers {
    border-radius: 12px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.09);
    padding: 10px;
    border: 1px solid #eee;
    margin-top: 10px;
    &:first-child {
      margin-top: 0;
    }
  }

  .footer-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0px -1px 4px 0px rgba(0, 0, 0, 0.09);
    z-index: 100;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 0 10px;
  height: 60px;

  > div:first-child {
    color: rgba(254, 80, 0, 1);
    font-size: 13px;

    .price {
      font-size: 18px;
      font-weight: 500;
    }
  }

  > div:last-child {
    display: flex;
    align-items: center;

    > span {
      font-size: 13px;
      display: inline-block;
      color: rgba(0, 0, 0, 0.65);
      border-bottom: 1px solid rgba(0, 0, 0, 0.65);
      margin-right: 16px;
    }

    :global {
      .am-button {
        background: linear-gradient(to bottom right, rgba(254, 121, 20, 1), rgba(254, 80, 11, 1));
        color: white;
        padding: 0 12px;
        height: 44px;
        line-height: 44px;
        width: 116px;
        border-radius: 28px;

        &-disabled {
          background: rgba(0, 0, 0, 0.04);
          opacity: 1;
          color: rgba(0, 0, 0, 0.25);

          &:before {
            content: none !important;
          }
        }
      }
    }
  }
}

.add-pet {
  border-radius: 16px;
  border: 1px solid rgba(254, 80, 0, 1);
  font-size: 15px;
  padding: 5px 10px;
  font-weight: 400;
  color: rgba(254, 80, 0, 1);
  line-height: 21px;
  margin: 0 auto;
}

@-webkit-keyframes bounce {
  0%,
  100% {
    -webkit-transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-5px);
  }
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
.bounce {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: bounce;
  animation-name: bounce;
}
