/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

body {
    background-color: #fff;
}

.am-modal-header {
    padding-bottom: 2px;
    letter-spacing: 2px
}

.am-modal-title {
    font-size: 18px;
    font-weight: 500;
}

.am-modal-button-group-v .am-modal-button {
    color: #fe5000;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 4px;
}

.am-button::before {
    border: none !important;
}