.am-steps-item-icon {
}

.qrcode {
    width: 100%;
    text-align: center;
    margin: 20px 0;
}
.circle {
  width: 10px;
  height: 10px;
  background: #000;
}
.timeline.am-steps.am-steps-small .am-steps-item.am-steps-custom .am-steps-head-inner > .am-steps-icon {
  width: 0.16rem;
  height: 0.16rem;
  border-radius: 50%;
  background-color: #d9dff1;
  svg {
    color: #fe500b;
  }
}
.timeline.am-steps.am-steps-small .am-steps-tail {
  top: 0.06rem;
  padding: 0 0.16rem;
  background-color: transparent;
}

.stepsExample {
  .timeline.am-steps.am-steps-small .am-steps-item.am-steps-custom .am-steps-head-inner > .am-steps-icon {
    svg {
      color: #fe500b
    }
  }
}